.PopupText {
    font-size: 15px;
    padding-top: 1px;
    padding-left: 2px;
}

.custom-popup .mapboxgl-popup-close-button {
    outline: none;
    box-shadow: none;
    z-index: 1;
}

.custom-popup .mapboxgl-popup-close-button:focus {
    outline: none;
    box-shadow: none;
}

.custom-popup .mapboxgl-popup-content {
    padding: 15px;
    width: 250px;
    max-width: 90vw;
    cursor: pointer;
}

.custom-popup .mapboxgl-popup-content:hover {
    background-color: #f0f0f0;
}

.custom-popup h2 {
    padding: 1px;
    margin: 0 0 10px 0;
    font-size: 18px;
}

.custom-popup .InfoRow {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.custom-popup .IconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.custom-popup .RoomRating,
.custom-popup .RoomReviewCount,
.custom-popup .RoomServeStyle,
.custom-popup .RoomPrice,
.custom-popup .RoomNeighborhood {
    margin: 0;
    padding: 0 5px 0 0;
    font-size: 14px;
}

.custom-popup .MichelinStarContainer {
    display: flex;
    align-items: center;
}

.custom-popup .Star {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    cursor: pointer;
}

.popup-content:hover {
    background-color: #f0f0f0;
}