.Item {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.ItemContainer {
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 47.5%;
    transform: translateY(-50%);

}


.ItemDetails {
    width: 40%;
    height: 50%;
    position: relative;
    top: 52.5%;
    left: 10%;
    transform: translateX(-90%);

}


.ItemTitle {
    height: 65px;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 300;
    color: #393c41;
    align-items: flex-start;
    flex: 1;

}


.ItemDescription {
    font-weight: 200;
    font-size: 25px;
}


.ItemPhoto {
    width: 480px;
    height: 500px;
    position: relative;
    top: -5%;
    left: 20%;
    margin: 10px;
}

.ItemPhoto img {
    height: 95%;
    width: 100%;
    border-radius: 15px;
}

/* Only when photoLeft is true */
.ItemDetailsLeft {
    width: 40%;
    height: 50%;
    position: relative;
    top: 48.5%;
    left: 25%;

}
.ItemPhotoLeft {
    width: 480px;
    height: 500px;
    position: relative;
    top: -5%;
    left: -25%;
    margin: 10px;
}
.ItemPhotoLeft img {
    height: 95%;
    width: 100%;
    border-radius: 15px;
}

.FirstItem {
    display: flex;
    position: relative;
    top: 90%;
    right: 40%;
    left: transformX(-50%);
}


@media (max-width: 1250px) and (min-width: 985px) {
    .ItemPhoto {
        width: 432px;
        height: 450px;
        left: 26.5%;
    }

    .ItemPhotoLeft {
        width: 432px;
        height: 450px;
    }
    .ItemDetailsLeft {
        left: 29%;
    }
    .ItemDetails {
        width: 380px;
        height: 180px;
        left: 10%;
        transform: translateX(-90%);
    }

    .ItemTitle {
        font-size: 45px;
    }
    .ItemDescription {
        font-size: 26px;
    }

}
@media (max-width: 984px) and (min-width: 721px) {
    .ItemPhoto, .ItemPhotoLeft {
        width: 450px;
        height: 480px;
        top: 11%;
        left: 0%;
    }

    .ItemDetails, .ItemDetailsLeft {
        width: 410px;
        height: 180px;
        top: 7.5%;
        left: 0%;
        transform: translateX(0%);

    }

    .ItemTitle {
        font-size: 35px;
        height: 50px;
    }
    .ItemDescription {
        font-size: 22px;
    }
    .FirstItem {
        top: 94%;
    }
}
@media (max-width: 720px) {
    .ItemPhoto, .ItemPhotoLeft {
        width: 380px;
        height: 400px;
        top: 10%;
        left: 0%;
    }

    .ItemDetails, .ItemDetailsLeft {
        width: 350px;
        height: 180px;
        top: 3%;
        left: 0%;
        transform: translateX(0%);

    }

    .ItemTitle {
        font-size: 35px;
    }
    .ItemDescription {
        font-size: 23px;
    }

    .FirstItem {
        top: 92%;
    }

}
