.RoomCard {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px 20px;
    padding: 12px;
    border: 1px solid #a3a3a3;
    border-radius: 14px;
    cursor: pointer;
}

.RoomCard:hover {
    border-color: #828282;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition-duration: 200ms;
}

.CardImageContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 130px;
    width: 240px;

}

.CardImageContainer img {
    object-fit: cover;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.InfoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 20px;
    padding-right: 0;
}

.InfoContainer p {
    padding-bottom: 3px;
}

.RoomName {
    font-size: 20px;
    font-weight: 500;
}

.LocationMarker {
    position: relative;
    top: 3.5px;
}

.RoomDetailsContainer {
    display: flex;
    height: 100%;
    font-size: 15px;
    font-weight: 400;
    align-items: flex-end;

}

@media (max-width: 640px) {
    .RoomDetailsContainer {
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    .CardImageContainer {
        height: 65px;
        width: 110px;
    }

    .RoomServeStyle {
        /*font-size: 10px;*/
        display: none;
    }
}
