.Header {
    display: flex;
    background-color: #F3EEE8;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 15px;
    padding-top: 15px;
    z-index: 100;
}

.HeaderLogo {
    height: 30px;
    width: 100px;
    background: transparent;
    z-index: 10;
    cursor: pointer;
}

.HeaderLogo h1 {
    background: transparent;
    font-size: 25px;
    text-align: center;
}


.header__right {
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
    position: absolute;
    top: 7%;
    right: 35px;
}


@media (max-width: 720px) {
    .Header {
        margin: 15px;
        margin-top: 15px;
        padding: 0;
        padding-top: 0;
    }
    .HeaderLogo {
        position: absolute;
        top: -6px;
    }
    .HeaderLogo h1 {
        color: #F3EEE8;
    }
}
