.header {
    display: flex;
    background-color: transparent;
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 15px;
    margin-top: 15px;
    z-index: 100;
}

.header__logo {
    height: 24px;
    width: 100px;
    margin-left: 10px;
    background: transparent;
    z-index: 10;
}
.header__logo h1 {
    background: transparent;
    font-size: 25px;
}

.navBar {
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.header__right {
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
    position: absolute;
    top: 7%;
    right: 35px;
}

@media (max-width: 720px) {
    .header__logo {
        position: absolute;
        top: -6px;
    }
    .header__logo h1 {
        color: #F3EEE8;
    }
}
