ul, li {
    height: 20px;
    width: 350px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background: transparent;
}
a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    color: #393c41;
    background: transparent;
    left: -65px;
}



@media (min-width: 721px) {
    .navBarContainer {
        width: 500px;
        display: contents;
    }
    a:after{
        content: "";
        position: absolute;
        background-color: #3B3B3B;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    a:hover {
        color: #676a6f;
    }
    a:hover:after {
        width: 100%;
    }
}


@media (max-width: 720px) {

    .navbar .showItem {
        display: contents;
    }

    .hideItem {
        display: none;
    }
/*    .navBar {
        display: none;
    }
*/
    .hamButtonContainer {
        display: flex;
        background-color: transparent;
        justify-content: flex-end;
        position: absolute;
        /*top: 5px;*/
        right: 35px;
    }

    .navBarContainer {
        background-color: #3B3B3B;
        /*display: contents;*/
        position: absolute;
        top: -15px;
        right: 0px;
        width: 103vw;
        height: 6.5vh;
        transition-property: height;
        transition-duration: 0.3s;
        /*transition-delay: 0.5s;*/

    }

    .transitionIn {
        /*transition-delay: 0.5s;*/
        height: 37vh;
/*        transition-property: height;
        transition-delay: 1s;
        transition-duration: 0.3s;*/

    }

    .navBarContainer ul {
        /*display: table-column;*/
        flex-direction: column;
        padding: 30px;
        /*top: 15px;*/
    }

    .navBar {
        height: 100px;
        top: 25px;
    }

    .navBar li {
        /*display: inline;*/
        width: 100px;
        padding: 20px;
        /*align-items: center;*/
        /*border-color: #000000;*/
        text-align: center;
    }

    .navBar li a {
        width: 100px;
        left: -20px;
    }

    .navBarContainer ul li a {
        flex-direction: column;
        color: #FFFFFF;

    }
}



