.Rooms {
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    height: 2000px;
    width: 100vw;
    background: #F3EEE8;
}

.HeaderBackground {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 60px;
    background: #F3EEE8;
    border-bottom: 1px solid #a3a3a3;
    z-index: 5;
}

.CityName {
    position: absolute;
    top: 60px;
    margin: 15px 20px;
    background: #F3EEE8;
}

.Parameters {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
    position: absolute;
    top: 110px;
    width: 50vw;
    background: #F3EEE8;
}

.Parameters p {
    margin: 10px 10px;
    padding: 10px 10px;
    border-width: 1px;
    border-color: 1px;
    border-style: solid;
    border-radius: 50px;
    border-color: #a3a3a3;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

.Parameters p:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

.Parameters p:active {
    transform: scale(.95);
    transition-property: background-color, border-color, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ease-out;
    transition-duration: 100ms;
    background-color: rgb(228 228 231);
}

.RoomResults {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 180px;
    background: #F3EEE8;
    margin-bottom: 10px;
}


@media (min-width: 961px) {
    .RoomResults {
        width: 57vw;
    }
    .MapContainer {
        display: flex;
        position: sticky;
        height: 100vh;
        width: 43%;
        top: 60px;
        left: 1000px;
        background: transparent;
    }

}

@media (max-width: 960px) {
    .RoomResults {
        width: 100vw;
    }
    .MapContainer {
        display: none;
    }

    .MapView {
        display: none;
    }

}

@media (max-width: 720px) {
    .HeaderBackground {
        display: none;
    }
    .Parameters {
        display: none;
    }
    .RoomResults {
        top: 130px;
    }
}

