.Rooms {
    display: flex;
    flex-direction: column;
    background: #F3EEE8;
}

.PageContainer {
    display: flex;
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.RoomResultsContainer {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.RoomResults {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #F3EEE8;
    width: 100%;
}

.ParameterContainer {
    display: flex;
    flex: 0 0 8%;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    z-index: 6;
}
  
.CityName {
    margin: 5px 20px;
    padding: 0px 0px;
}
  
.Parameters {
    display: flex;
    align-items: flex-start;
    padding: 0px 10px;
}
  
.Parameters p {
    margin: 10px 10px;
    padding: 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    border-color: #a3a3a3;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

.Parameters p:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.Parameters p:active {
    transform: scale(.95);
    transition-property: background-color, border-color, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ease-out;
    transition-duration: 100ms;
    background-color: rgb(228 228 231);
}

.MapContainer {
    flex: 1;
    background-color: #d3d3d3;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.HeaderBackground {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 60px;
    background: #F3EEE8;
    border-bottom: 1px solid #a3a3a3;
    z-index: 5;
}


@media (max-width: 960px) {
    .MapContainer {
        display: none;
    }
    .MapView {
        display: none;
    }
}

@media (max-width: 720px) {
    .PageContainer {
        touch-action: manipulation;
    }
    .HeaderBackground {
        display: none;
    }
}