footer {
    background: #3B3B3B;
    color: #F3EEE8;
    margin-top: auto;
}

footer p {
    background: transparent;
    text-align: center;
    font-weight: 450;
    font-size: 15px;
    padding: 0px 30px;
}


@media (min-width: 985px) {
    footer {
        padding: 2em;
    }
}

@media (max-width: 984px) {
    footer {
        padding: 1em;
    }
}
