
.hamburger {
    height: 20px;
    width: 20px;
    right: 500px;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #F3EEE8;
    cursor: pointer;
    display: none;
    position: absolute;

}
.hamburger:hover {
    color: #C2BEB9;
}
.hamburgerIcon {
    background-color: transparent;
}
.closeIcon {
    background-color: transparent;
}

@media (max-width: 1250px) and (min-width: 985px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 984px) and (min-width: 721px) {
    .hamburger {
        display: none;
    }

}
@media (max-width: 720px) {
    .hamburger {
        display: contents;
    }
}
