.buttonContainer {
    background-color: transparent;
    display: flex;
    position: relative;
}

.adjustPosition {
    position: relative;
    right: 15.5%;
    top: 2.5px;
}

.hamburger {
    height: 20px;
    width: 20px;
    right: 500px;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #F3EEE8;
    cursor: pointer;
    display: none;
    position: absolute;
}

.close {
    font-size: 15px;
    color: #F3EEE8;
    cursor: pointer;
}

.hamburger:hover, .close:hover {
    color: #C2BEB9;
}
.hamburgerIcon, .closeIcon {
    background-color: transparent;
}


@media (max-width: 1250px) and (min-width: 985px) {
    .hamburger {
        display: none;
    }
    .close {
        display: none;
    }
}

@media (max-width: 984px) and (min-width: 721px) {
    .hamburger {
        display: none;
    }
    .close {
        display: none;
    }

}
@media (max-width: 720px) {
    .hamburger {
        display: contents;
    }
    .close {
        display: contents;
    }
}
